<ng-container *ngIf="form">
  <ng-container [formGroup]="form">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>Tablice Vozila</mat-label>
            <input autocomplete="off" matInput type="string" formControlName="plateNumber"/>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="action-buttons">
      <ion-button color="medium" slot="end" size="small" (click)="cancel()">
        {{ new ? 'Odustani' : 'Nazad'}}
      </ion-button>
      <ion-button slot="end" size="small" [disabled]="form.invalid || !form.dirty" (click)="new ? create() : update()">
        {{ new ? 'Kreiraj Vozilo': 'Sačuvaj promjene' }}
      </ion-button>
    </div>
  </ng-container>
</ng-container>
