:host {
  display: flex;
  justify-content: center;
}
ion-badge.custom-badge {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  & > ion-icon {
    font-weight: bold;
  }
}
